{% extends "base.html" %}
{% block content %}

<div id="main-contents" class="main-column">

<div class="main-column page-title">
    Blow-by-Blow
</div>

<p>
Welcome to blow-by-blow. Here we assist your live-text commentary on
any and all events. We like live-text commentary, traditional news
outlets have something of a monopoly on live-text commentary. Others
can take to twitter, but tend to annoy followers who aren't interested
in that particular event. In addition, perhaps twitter does not always
cater especially well for live-text commentary. So the idea here is that
you start a feed, and send any potential viewers to your live-text
feed.
</p>

<p>
You might live-text about a sporting event, a political event, a current
news event. You might do so simply as an interested party or you might
do so as someone with particular access to the event. This might simply
be living close to a currently unfolding major news event, or it might
be that you have back-stage access to an entertainment event. Whatever
it is, if you feel like the world might like updates from you about an
event, start a feed and start giving your observations, comments,
opinions, and headlines.
</p>

<p>
There is <b>no need to create an account to start one</b>. In fact we
do not even yet have any notion of an account. Start a feed and you will
be directed to the special author page, provided you do not navigate
away from that page <i>and</i> lose the URL to it, you'll still be able
to update your feed. Viewers of your feed will only be able to view it.
</p>

<p>
If you would like you can
<a href="{{url_for('start_feed')}}">start a feed</a>.
</p>

<p>
Or you could <a href="{{url_for('current_feeds')}}">
view the list of current feeds</a>
</p>

</div> <!-- End of main-contents -->
{% endblock %}
