{% extends "base.html" %}
{% block page_css %}
<style class="theme-agnostic">
</style>
<style class="theme-style wonderland">
</style>
<style class="theme-style wind-up">
</style>


{% endblock %}
{% block lead_content %}

{% if secret is not none %}
<div id="send-viewers-link" class="author-instructions">
    <p>
    We do not need you to sign up for some kind of <i>account</i> before
    you can author a feed. However, we of course do not want anyone else
    to be able to author your feed. Hence if you look in your address
    bar you will see that you have a special URL with a
    <i>secret author number</i>. Don't give this out to anyone or they
    will be able to author your feed. Though of course if you actually
    wish to have multiple authors that would be how you do that.
    </p>
    <p>
    Presumably though you are writing this feed in order that people can
    view it. That's great. The <i>viewer</i> url for <b>this</b> feed is
    <a href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>.
    Send people there, tweet, facebook, or otherwise share the viewer
    link so that people may read your event updates.
    </p>
    <p>
    In addition this means that you either do not want to navigate away
    from this page or keep the current URL safe somewhere. If you
    navigate away you might not be able to get back to this URL to
    author your feed. It may be in your browser history, but it's
    probably best just to avoid navigating away from here. You can of
    course open up additional browser windows or tabs.
    </p>
    <p>
    tl;dr:
        Do not send people the link in your address bar, that is your
        private link to author the feed. Send viewers here:
        <a href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>
    </p>
<button id="dismiss-send-viewers-link" class="dismiss">Dismiss</button>
</div>
<div id="viewer-link" class="author-instructions">
   Viewers link: <a href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>
</div>
{% endif %}

<h1>{{db_feed.feed_title}}</h1>
  {% if db_feed.feed_desc %}
    <p class="lead">{{db_feed.feed_desc}}</p>
  {% endif %}

{% if secret is not none %}
<div id="update-controls" class="main-column">
    <form id='update-feed' class="author-update" method="POST"
          action="{{ url_for('update_feed',
                             feed_no=db_feed.id,
                             secret=secret) }}">
        <div class="form-group">
          {{ update_feed_form.hidden_tag() }}
          {{ update_feed_form.title_text(placeholder="New Title", class="form-control") }}
          {{ update_feed_form.desc_text(placeholder="New Sticky Description", class="form-control") }}
          <button type="submit"
                  class="form-control"
                  id="update-feed-header-button"
                  name="update-feed-header-button">Update</button>
        </div><!-- /.form-group -->
    </form>
</div><!-- End of update-controls -->
{% endif %}


{% if secret is not none %}
    <div id="commentate-area">
        <form id="make-comment" class="author-update"
              method="POST"
              action="{{ url_for('update_feed', feed_no=db_feed.id,
                                 secret=secret) }}">
          <div class="form-group">
                {{ update_feed_form.hidden_tag() }}
                {{ update_feed_form.comment_text(placeholder="New update comment:", class="form-control") }}
                <button type="submit"
                        class="form-control"
                        id="commentate_button"
                        name="commentate_button">Commentate</button>
          </div><!-- /.form-group -->

        </form>
    </div><!-- /#commentate-area -->
{% endif %}

{% endblock %} <!-- lead_content -->

{% block main_content %}
<div id="refreshing-feed">
Feed is refreshing
</div>
<a href="javascript:refresh_feed('{{ db_feed.id }}');">Refresh Feed</a>
<a id="toggle-feed-direction" href="javascript:toggle_feed_direction();">Toggle Feed Direction</a>

<ul id="feed-moment-list" class="list-group">
</ul>

{% endblock %} <!-- main_contents -->
{% block page_scripts %}
<script>
var earliest_first = false;
function refresh_feed(feed_id) {
    $("#refreshing-feed").show();
    $.post('/grabmoments', {
        feed_id: feed_id
    }).done(function(translated) {
        $(".feed-title").text(translated['title']);
        $(".feed-description").text(translated['description']);
        $(".feed-moment").remove();
        var moments = translated['moments'];
        for (i = 0; i < moments.length; i++) {
          moment = moments[i];
	  moment_li = document.createElement('li');
	  moment_li.className = "feed-moment list-group-item";
          time_div = document.createElement('div');
	  time_div.className = "comment-time";
          time_div.innerHTML = moment['time']
          text_div = document.createElement('div');
          text_div.className = "comment-text";
	  text_div.innerHTML = moment['content'];
          moment_li.appendChild(time_div);
	  moment_li.appendChild(text_div);
	  if (earliest_first){
              $("#feed-moment-list").append(moment_li);
          } else {
              $("#feed-moment-list").prepend(moment_li);
          }
	}
        $("#refreshing-feed").hide();
    }).fail(function() {
        $("#refreshing-feed").text("Error: Could not contact server.");
    });
    /* Now update the text which allows the user to toggle the feed direction */
    var toggle_link_text = "Show earliest first";
    if (earliest_first){
       toggle_link_text = "Show latest first";
    }
    $('#toggle-feed-direction').text(toggle_link_text);
}
function toggle_feed_direction(){
  earliest_first = !earliest_first;
  refresh_feed({{db_feed.id}});
}

jQuery(document).ready(function(){
  refresh_feed({{db_feed.id}});
});
</script>
{% endblock %} <!-- page_scripts -->
