{% extends "base.html" %}
{% block page_css %}
<style class="theme-agnostic">
#send-viewers-link-instructions,
#send-viewers-link{
  text-align: left;
}
.feed-moment{
    margin: 1em;
    border: 1px solid #6AC5AC;
    border-radius: 15px;
}
.moment-time{
    color: #AF2233;
    padding-left: 0.5em;
}
.moment-text{
    padding-left: 2em;
}
</style>


{% endblock %}
{% block lead_content %}

{% if secret is not none %}
<div id="send-viewers-link-instructions"
     class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p>
    We do not need you to sign up for some kind of <i>account</i> before
    you can author a feed. However, we of course do not want anyone else
    to be able to author your feed. Hence if you look in your address
    bar you will see that you have a special URL with a
    <i>secret author number</i>. Don't give this out to anyone or they
    will be able to author your feed. Though of course if you actually
    wish to have multiple authors that would be how you do that.
    </p>
    <p>
    Presumably though you are writing this feed in order that people can
    view it. That's great. The <i>viewer</i> url for <b>this</b> feed is
    <a class="alert-link" href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>.
    Send people there, tweet, facebook, or otherwise share the viewer
    link so that people may read your event updates.
    </p>
    <p>
    In addition this means that you either do not want to navigate away
    from this page or keep the current URL safe somewhere. If you
    navigate away you might not be able to get back to this URL to
    author your feed. It may be in your browser history, but it's
    probably best just to avoid navigating away from here. You can of
    course open up additional browser windows or tabs.
    </p>
    <p>
    tl;dr:
        Do not send people the link in your address bar, that is your
        private link to author the feed. Send viewers here:
        <a class="alert-link" href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>
    </p>
</div><!-- /#send-viewers-link-instructions -->
<div id="send-viewers-link" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Viewer's link: </strong><a class="alert-link" href="{{db_feed.viewers_link}}">{{db_feed.viewers_link}}</a>
</div><!-- /#send-viewers-link -->
{% endif %}

<h1 id="feed-title">{{db_feed.feed_title}}</h1>
  {% if db_feed.feed_desc %}
    <p id="feed-description" class="lead">{{db_feed.feed_desc}}</p>
  {% endif %}

{% if secret is not none %}
    <div id="update-controls" class="panel panel-info">
      <div class="panel-heading">Update Feed Headings</div>
      <form id='update-feed' class="author-update" method="POST"
            action="{{ url_for('update_feed',
                    feed_no=db_feed.id,
                    secret=secret) }}">
        <div class="form-group">
          {{ update_feed_form.hidden_tag() }}
          {{ update_feed_form.title_text(placeholder="New Title", class="form-control") }}
          {{ update_feed_form.desc_text(placeholder="New Sticky Description", class="form-control") }}
          <button type="submit"
                  class="form-control btn btn-default"
                  id="update-feed-header-button"
                  name="update-feed-header-button">Update</button>
        </div><!-- /.form-group -->
      </form>
    </div><!-- End of update-controls -->
{% endif %}


{% if secret is not none %}
    <div id="make-moment-area" class="panel panel-info">
        <div class="panel-heading">Create a moment!</div>
        <form id="make-moment" class="author-update"
              method="POST"
              action="{{ url_for('update_feed', feed_no=db_feed.id,
                                 secret=secret) }}">
          <div class="form-group">
                {{ update_feed_form.hidden_tag() }}
                {{ update_feed_form.moment_text(placeholder="New update moment:", class="form-control") }}
                <button type="submit"
                        class="form-control btn btn-default"
                        id="add-moment-button"
                        name="add-moment-button">Commentate</button>
          </div><!-- /.form-group -->

        </form>
    </div><!-- /#make-moment-area -->
{% endif %}

{% endblock %} <!-- lead_content -->

{% block main_content %}
<div id="refreshing-feed">
Feed is refreshing
</div>
<button onclick="javascript:refresh_feed('{{ db_feed.id }}');"
        class="btn btn-default"
        id="refresh-feed-button">Refresh Feed</button>
<button onclick="javascript:toggle_feed_direction('{{db_feed.id}}');"
        class="btn btn-default"
        id="feed-direction-button">Toggle Feed Direction</button>


<ul id="feed-moment-list" class="list-group">
</ul>

{% endblock %} <!-- main_contents -->
{% block page_scripts %}
<script src="/static/compiled-js/feed.js"></script>
<script>
jQuery(document).ready(function(){
  refresh_feed({{db_feed.id}});
});
</script>
{% endblock %} <!-- page_scripts -->
